<div class="gpgc-new-section gpgc-comments-font gpgc-hidden" id="gpgc-all-comments">
</div>

<div class="gpgc-new-section gpgc-comments-font gpgc-hidden" id="gpgc-no-comments">
  <p class="gpgc-centered-text">No comments</p>
</div>

<div class="gpgc-actions gpgc-hidden" id="gpgc-actions">
  <span class="gpgc-action gpgc-centered-text">
    <button class="gpgc-large-secondary-button" id="show-comments-button" onclick="showAllComments(CommentsArray)"></button>
  </span>
</div>

<div class="gpgc-comment gpgc-comments-font" id="gpgc-new-comment">
  <div class="gpgc-comment-header">
    <a id="gpgc-reader-url" href="https://github.com/wireddown/ghpages-ghcomments"><img class="gpgc-avatar" id="gpgc-reader-avatar" src="https://raw.githubusercontent.com/wireddown/ghpages-ghcomments/gh-pages/public/apple-touch-icon-precomposed.png" height="42" /><span id="gpgc-reader-login">You</span></a>
    <small>today</small>
    <div class="gpgc-tabs">
      <button class="gpgc-tab gpgc-text-button" id="write-button">Write</button>
      <button class="gpgc-tab gpgc-text-button" id="preview-button">Preview</button>
    </div>
  </div>
  <div class="gpgc-new-comment" id="write-div">
    <div class="gpgc-new-comment-form">
      <textarea class="gpgc-new-comment-form-textarea" id="new-comment-field" placeholder="Write a comment"></textarea>
    </div>
  </div>
  <div class="gpgc-new-comment gpgc-comment-contents gpgc-hidden" id="preview-div">
  </div>
  <div class="gpgc-hidden gpgc-comment-help" id="help-message">
  </div>
  <div class="gpgc-new-comment-actions">
    <button class="gpgc-normal-primary-button gpgc-text-button" id="login-button" onclick="loginToGitHub()">Login to GitHub</button>
    <button class="gpgc-normal-primary-button gpgc-text-button gpgc-hidden" id="submit-button" onclick="postComment()">Submit</button>
  </div>
</div>

<div class="gpgc-new-section gpgc-comments-font gpgc-hidden" id="gpgc-disabled">
  <p class="gpgc-centered-text">Comments are closed</p>
</div>

<div class="gpgc-new-section gpgc-comments-font gpgc-help-error gpgc-hidden" id="gpgc-reader-error">
</div>

<div class="gpgc-last-div">
</div>

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/gpgc-core.js"></script>

<script>
  window.addEventListener("error", onError);
  function onError(error) {
    var errorMessage = "<h3><strong>gpgc</strong> Error: Global Exception</h3>";
    errorMessage += "<p><dl><dt>Error</dt><dd>" + error.message + "</dd><dt>URL</dt><dd>" + error.filename + "</dd><dt>Line</dt><dd>" + error.lineno + "</dd><dt>Column</dt><dd>" + error.colno + "</dd></dl></p>"
    showGeneralHelp(errorMessage);
  }
</script>

<script>
  var gpgc = {
    new_comments_disabled: new Boolean({{ site.data.gpgc.disabled }}).valueOf() || new Boolean({{ page.gpgc-disabled }}).valueOf(),
    site_url: "{{ site.url }}",
    page_path: "{{ page.path }}",
    issue_title: "{{ include.post_title }}",
    repo_id: "{{ site.data.gpgc.repo_owner }}/{{ site.data.gpgc.repo_name }}",
    use_show_action: {{ site.data.gpgc.use_show_action }},
    github_application_client_id: "{{ site.data.gpgc.github_application.client_id }}",
    github_application_code_authenticator_url: "{{ site.data.gpgc.github_application.code_authenticator }}",
    github_application_login_redirect_url: "{{ site.data.gpgc.github_application.callback_url }}",
    enable_diagnostics: {{ site.data.gpgc.enable_diagnostics }},
  };

  gpgc_main();
</script>
