/* Header */

header {
  font-size: 4rem;
  margin: 1rem 0 4rem 0;
}
.site-title {
  font-weight: bolder;
  color: var(--title);
}

/* Bio section */

#bio {
  display: flex;
}
#img-wrapper img {
  border-radius: 50%;
  max-width: 100px;
}
#bio-wrapper {
  margin-left: 1.5rem;
}
#text-wrapper {
  line-height: 1.4rem;
  font-weight: 400;
}
#text-wrapper a {
  color: var(--title);
  border-bottom: 1px solid var(--title);
}
#social-wrapper {
  margin-top: 1.1rem;
}
#social-wrapper img {
  /*filters from https://codepen.io/sosuke/pen/Pjoqqp */
  /* filter: invert(93%) sepia(8%) saturate(79%) hue-rotate(170deg) brightness(102%) contrast(91%) !important; */
  filter: invert(88%) sepia(87%) saturate(346%) hue-rotate(322deg) brightness(103%) contrast(101%) !important;
  width: 25px;
  height: 25px;
  margin: 0 0.2rem 0.3rem 0;
  transition: all 0.2s ease-in-out;
}
#social-wrapper img:hover {
  transform: scale(1.2);
}

/* Article list section */

.articles {
  display: grid;
  row-gap: 2rem;
  margin: 4rem 0;
}
.articles .article {
  padding: 2rem;
  background: var(--card-bg);
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.articles .article .article-title,
.articles .article .article-title a {
  color: var(--title);
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 130%;
}
.articles .article:hover {
  transform: scale(1.05);
}

/* Viewport size adjustments */

@media screen and (max-width: 1050px) {
  body {
    padding: 1.5rem;
  }
  header {
    flex-direction: column;
    gap: 3rem;
  }
  header .site-title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 550px) {
  header .site-title {
    font-size: 3rem;
  }
  .articles {
    row-gap: 1.2rem;
  }
}

@media screen and (max-width: 350px) {
  #img-wrapper img {
    max-width: 50px;
  }
  #bio {
    align-items: flex-start;
  }
  main,
  .articles {
    padding: 0;
    margin: 0;
  }
  main {
    padding-bottom: 1rem;
  }
  .articles {
    margin: 2rem 0 3rem 0;
    row-gap: 1.2rem;
  }
  header .site-title {
    font-size: 2.4rem;
  }
  .article {
    padding: 1.2rem;
  }
  .articles .article .article-title,
  .articles .article .article-title a {
    font-size: 1rem;
  }
}
