/* Header */

header {
  font-size: 1.4rem;
  margin: 2rem 0 2.5rem 0;
  padding: 0rem 0.5rem;
  background-color: var(--title);
}
header a {
  color: var(--page-bg);
}
.tags {
  padding-bottom: 1rem;
  border-bottom: solid 2px var(--title);
}

/* Bio section */

/* Article contents */

.article {
  margin-bottom: 3rem;
}
.article-header {
  margin-bottom: 1.5rem;
}
.article-title {
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
  line-height: 140%;
  color: var(--title);
}

/* Markdown content */

.content * {
  line-height: 170%;
}
.content p {
  margin: 0 0 1.2rem 0;
  padding: 0;
}
.content h1 {
  font-size: 2rem;
  color: var(--oc-grape-5); /* Stands out because '#' headings not allowed in posts */
}
.content h2 {
  font-size: 1.8rem;
  color: var(--subtitle);
}
.content h3 {
  font-size: 1.6rem;
}
.content h4 {
  font-size: 1.4rem;
}
.content h5 {
  font-size: 1.2rem;
}
.content h6 {
  font-size: 1rem;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin: 1.75rem 0;
}
.content blockquote {
  padding-left: 1.42188rem;
  margin-bottom: 1.75rem;
  font-weight: 300;
}
.content a {
  border-bottom: 1px solid var(--title);
}
.content img {
  max-width: 100%;
  margin: 1rem 0;
}
.content img.emoji {
  margin: 0 !important;
}

/* Viewport size adjustments */

@media screen and (max-width: 1050px) {
  body {
    padding: 1.5rem;
  }
}
